html {
    font-size: 16px;
  }
  
body {
font-size: 1em;
}

img {
    width: 100%;
}
  
figure {
    margin: 0;
    height: 40px;
    width: 64px;
}

h3 {
    color: #F2F2F2;
    font-family: 'Big Shoulders Display';
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: .9375em;
    line-height: 1.6em;
    margin: 0;
}

main {
    width: 100%;
}

.content-wrapper {
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}

.content-wrapper > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 340px;
    padding: 50px;
    flex-basis: 240px;
}

.content-wrapper > div h3 {
    
}

.content-wrapper > div p {
    
}

.card-one {
    background-color: hsl(31, 77%, 52%);
}

.card-two {
    background-color: hsl(184, 100%, 22%);
}

.card-three {
    background-color: hsl(179, 100%, 13%);
}

input[type=button] {
    font-family: 'Lexend Deca';
    width: 60%;
    padding: 14px 0;
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 95%);
    font-size: 1em;
    color: hsl(31, 77%, 52%);
    border: none;
    text-align: center;
    border-radius: 25px / 22px;
  }

.attribution {

}